[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
daphne = "*"
channels = "*"
djangorestframework = "*"
django-cron = "*"
djangorestframework-simplejwt = "*"
django-decouple = "*"
django-cors-headers = "*"
cryptography = "*"
pyjwt = "*"
drf-yasg = "*"
moviepy = "*"
celery = {extras = ["redis"], version = "*"}
gunicorn = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
